{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Artist</title>
    <link rel="stylesheet" href="{%static 'forms_style.css'%}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <form method="post" novalidate>
      {% csrf_token %} {{form.as_p}}
      <button type="submit" value="submit" class="btn btn-primary">
        Create
      </button>
    </form>
  </body>
</html>
