{% load static%}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{%static 'index.css'%}" />
  <title>Home Page</title>
</head>

<body>
  <section>
    <h1> Welcome to Music Platform </h1>
    <a href={% url 'artist_page' %}><button> View Artists</button> </a>
    {%if user.is_authenticated%}
    <a href={% url 'create_artist' %}>
      <button>
        Create Artist
      </button>
    </a>
    <a href={% url 'create_album' %}>
      <button>
        Create Album
      </button>
    </a>
    {%endif%}
  </section>
</body>

</html>